# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release



# Thư mục build output
build/
android/app/build/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/.symlinks/
ios/Pods/
macos/Flutter/ephemeral/
web/.dart_tool/
linux/flutter/
windows/flutter/

# File của Dart và Flutter
.packages
*.lock
**/GeneratedPluginRegistrant.java
**/GeneratedPluginRegistrant.h
**/GeneratedPluginRegistrant.m
**/GeneratedPluginRegistrant.swift
**/GeneratedPluginRegistrant.cc
**/GeneratedPluginRegistrant.cpp

# Thư viện bên thứ ba
pubspec.lock
Pods/

# File môi trường
.env
.env.local
.env.development
.env.production

# VS Code & IntelliJ IDEA
.vscode/


# Tệp hệ thống
Thumbs.db

